.scroll {
  margin-top: 1rem;
  max-height: 30rem; /* or any height you want */
  overflow-y: auto;
}

.details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  background-color: rgb(228, 184, 255);
}

.details:hover {
  background-color: rgb(193, 193, 193);
}

.details h1 {
  font-size: 1.25rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.details p {
  text-align: left;
  font-size: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.details .material-symbols-outlined {
  background-color: rgb(255, 207, 207);
  font-size: 1rem;
  padding: 1rem;
  margin: 1rem;
  cursor: pointer;
}

.details .material-symbols-outlined:hover {
  background-color: rgb(255, 161, 161);
}

.create input {
  display: block;
  margin-bottom: 1rem; /* adjust spacing */
}

.create button {
  margin-top: 0.5rem;
}
