.create input[type='text'],
.create input[type='number'],
.create select {
  border: none;
  background-color: rgb(255, 255, 255);
  border-radius: 1rem;
  padding: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 1rem;
}

.create label {
  display: flex;
  font-weight: bold;
}

.create textarea[type='text'].description {
  width: 100%;
  height: 100px;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
  font-size: 16px;
}

.create button {
  padding: 1rem;
  font-size: 1rem;
  background-color: #ffc4c2;
  border-radius: 1rem;
  color: black;
  border: none;
  cursor: pointer;
}

.create button:hover {
  background-color: #ffb1af;
}

.button-container {
  margin-top: 10px;
}
