/* Base styles (shared across all screen sizes) */
header {
  background: #89ffae;
  margin: 1rem;
  border-radius: 1rem;
}

header .container {
  padding: 1rem 4rem 1rem 4rem;
  display: flex;
  justify-content: space-between;
}

header a {
  color: #333;
  text-decoration: none;
}

.navbar {
  width: 100%;
}

.container h1 {
  font-size: 1.5rem;
}

.navbar span {
  font-size: 1rem;
}

.navbar button {
  border-radius: 1rem;
  background-color: #e4ffe0;
  padding: 1rem;
  font-size: 1rem;
}

.navbar button:hover {
  background-color: #68fd97;
}

@media (max-width: 1023px) {
  header .container {
    padding: 1rem 1rem 1rem 1rem;
    display: flex;
    justify-content: space-between;
  }
  .container h1 {
    font-size: 1rem;
  }

  .navbar span {
    display: none;
    font-size: 0.5rem;
  }

  .navbar button {
    padding: 0.5rem;
    font-size: 1rem;
  }
}
