/* Base styles for sidebar */
.sidebar-container {
  background-color: #caffdd;
}

/* Show sidebar by default on desktop */
.sidebar {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 250px;
  background-color: #caffdd;
}

.sidebar li {
  margin: 0;
  padding: 0;
}

.sidebar button {
  all: unset;
  display: block;
  width: 100%;
  padding: 1rem;
  font-size: 1rem;
  color: rgb(0, 0, 0);
  text-align: left;
  background-color: #caffdd;
  cursor: pointer;
}

.sidebar button:hover,
.sidebar button.active {
  background-color: #97ffbd;
}

/* Hamburger is hidden by default (visible only on mobile) */
.hamburger {
  display: none;
  font-size: 2rem;
  padding: 1rem;
  background: none;
  border: none;
  cursor: pointer;
}

/* Mobile styles */
@media (max-width: 1023px) {
  .hamburger {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    background-color: #caffdd;
    width: 100%;
    font-size: 2rem;
    text-align: left;
    z-index: 1001;
    border: none;
    cursor: pointer;
    border-bottom: 0.2rem solid #caffdd;
  }

  .sidebar-container {
    position: fixed;
    top: 5rem;
    left: 0;
    width: 100%;
    background-color: #caffdd;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    z-index: 1000;
  }

  .sidebar-container.open {
    transform: translateX(0);
  }

  .sidebar button {
    background-color: #caffdd;
    border: none;
    text-align: left;
    cursor: pointer;
    width: 100vw; /* Full screen width */
    padding: 1rem; /* Reapply padding */
    box-sizing: border-box;
  }

  .sidebar button:hover,
  .sidebar button.active {
    background-color: #97ffbd;
    width: 100vw;
  }
}
