/* Default styles (desktop and above 1024px) */
.investment-details {
  background: #fff;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
  width: 100%;
  max-width: 800px;
}

.investment-details h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--primary);
}

.investment-details p {
  margin: 0;
  font-size: 0.9em;
  color: #555;
}

.investment-chart-container {
  width: 100%;
  height: 100%;
}

.investmentBar {
  list-style: none;
  float: left;
  background: white;
  border-radius: 10px;
  top: 0;
  left: 0;
  padding: 0;
  margin: 20px;
}

.investmentBar ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 10px;
  padding: 0;
  margin: 0;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
}

.investmentBar li {
  box-sizing: border-box;
  padding: 5px;
  display: block;
}

.investmentBar button {
  padding: 10px 20px;
  background-color: white;
  color: green;
  border: none;
  cursor: pointer;
}

/* Styles for screens less than or equal to 1023px */
@media (max-width: 1023px) {
  body {
    width: 100%;
    overflow-x: hidden;
    justify-content: center;
    align-items: center;
  }

  .investment-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    width: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
  }

  .investment-chart-container {
    width: 200px;
    height: 200px;
  }

  .investment-details h4 {
    margin: auto;
    font-size: 1em;
  }

  .investment-details p {
    margin: auto;
    font-size: 0.8em;
    color: #555;
  }

  .investment-chart-container {
    height: 100px;
    margin: 20px 0;
    padding: 0 10px;
  }

  .investmentBar {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
    font-size: 14px;
    width: 100%;
  }

  .investmentBar li {
    margin: auto;
  }

  .investmentBar button {
    color: green;
    border: none;
    cursor: pointer;
  }

  .investmentBar button.active {
    background-color: grey;
    color: white;
  }
}

/* Styles for screens greater than or equal to 1024px */
@media (min-width: 1024px) {
  .investment-details {
    max-width: 800px;
  }

  .investmentBar {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .investmentBar li {
    margin: 5px;
  }

  .investmentBar button {
    padding: 10px 20px;
    background-color: white;
    color: green;
    border: none;
    cursor: pointer;
  }

  .investmentBar button.active {
    background-color: grey;
    color: white;
  }
}
